*.[hc]     filter=code-filter
*.i        filter=code-filter
*.jl       filter=code-filter
README.md  filter=text-filter
README     filter=text-filter
TODO       filter=text-filter
AUTHORS    filter=text-filter
NEWS       filter=text-filter
configure  filter=text-filter
Makefile   filter=makefile-filter
*.png      binary
*.jpg      binary
*.pdf      binary
